<h1>Doctor's Profile</h1>

<% doctors.forEach(function(doctor) { %>
<ul>
  <br>
  <li>Name: <%= doctor.name %></li>
  <li>Phone Number: <%= doctor.phoneNumber %></li>
  <li>Email: <%= doctor.email %></li>
  <li>Speciality: <%= doctor.speciality %></li>

  <button type="submit" class="btn">
    <a href="/doctor/profile/<%= doctor.id %>" class="btn">Update</a>
  </button>
</ul>
<% }) %>

<!-- 
<table>
  <tr>     
    <th>Name</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Speciality</th>
  </tr>
  -->
<!-- 
    
  <% doctors.forEach(function(doctor) { %>
    -->
<!-- 
  <tr>         
    <td><%= doctor.name %>e</td>
    <td><%= doctor.phoneNumber %></td>
    <td><%= doctor.email %></td>
     <td><%= doctor.speciality %></td>   
      <button type="submit">Edit</button>
     <button type="submit">Delete</button>    
  </tr>
  
  </table>

  <% }) %> 

  -->
