

<% doctors.forEach(function(doctor) { %>
 <ul>
<li>First Name: <%= doctor.firstName %></li>
<li>Last Name: <%= doctor.lastName %></li>
<li>Phone Number: <%= doctor.phoneNumber %></li>
<li>Email: <%= doctor.email %></li>
<li>Speciality: <%= doctor.speciality %></li>
<br>
</ul>
<% }) %>   
