

<% doctors.forEach(function(doctor) { %>
 <ul>
<li>Name: <%= doctor.name %></li>
<li>Phone Number: <%= doctor.phoneNumber %></li>
<li>Email: <%= doctor.email %></li>
<li>Speciality: <%= doctor.speciality %></li>
<br>
<a href="/doctor/profile/<%= doctor.id %>">update</a>
</ul>
<% }) %>   
<br>
<br>
<br>

<!-- 
<table>
  <tr>     
    <th>Name</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Speciality</th>
  </tr>
  -->
  <!-- 
    
  <% doctors.forEach(function(doctor) { %>
    -->
    <!-- 
  <tr>         
    <td><%= doctor.name %>e</td>
    <td><%= doctor.phoneNumber %></td>
    <td><%= doctor.email %></td>
     <td><%= doctor.speciality %></td>   
      <button type="submit">Edit</button>
     <button type="submit">Delete</button>    
  </tr>
  
  </table>

  <% }) %> 

  -->