<h1>Update doctor's profile</h1>
<br />
<form action="/doctor/profile/<%= doctor.id %>" method="POST">
  <label for="name">Name</label>
  <input
    type="text"
    name="name"
    id="name"
    value="<%= doctor.name %>"
    placeholder="Name"
  />
  <br />
  <label for="phoneNumber">Phone Number</label>
  <input
    type="text"
    name="phoneNumber"
    value="<%= doctor.phoneNumber %>"
    placeholder="Enter phone number"
  />
  <br />
  <label for="email">Email</label>
  <input
    type="email"
    name="email"
    value="<%= doctor.email %>"
    placeholder="Enter email"
  />
  <br />
  <label for="speciality">Speciality</label>
  <textarea name="speciality" id="" cols="30" rows="3">
<%= doctor.speciality %></textarea
  >
  <br />
  <button type="submit">Submit</button>
  <button type="submit"><a href="/doctor/profile/">Cancle</a></button>
   
</form>
