<h1>Patient's Profile</h1>

<% patients.forEach(function(patient) { %>
<ul>
  <br />
  <li>Name: <%= patient.name %></li>
  <li>Age: <%= patient.age %></li>
  <li>Phone Number: <%= patient.phoneNumber %></li>
  <li>Email: <%= patient.email %></li>
  <button type="submit" class="btn">
    <a href="/patient/profile/<%= patient.id %>" class="btn">update</a>
  </button>
</ul>
<% }) %>
