
<input type="text" name="doctor" value="<%= appointments.doctor.name%>" />
<br />
<input type="text" name="patient" value="<%= appointments.patient.name %>" />
<br />
<input type="date" name="date" min="<%= today %>"  value="<%= appointments.date %>" />
<br /><input type="text" name="symptoms" value="<%= appointments.symptoms %>" />
<input type="text" name="prescription" value="<%= appointments.prescription %>"/>
<button type="submit">Submit</button>
<a href="/">cancel</a>
