
<form action="/appointment" method="post">
  <h1>Add appointments data</h1>
  <br />
  <label for="doctor">Doctor Name:</label>
  <br>
  <select name="doctor" id="doctor">
    <% doctors.forEach(function(doctor) { %>
    <option value="<%= doctor.id %>">
      <%= doctor.name %>
    </option>
    <% })%>
  </select>
  <br />
  <label for="patient">Patient Name:</label>
  <br>
  <select name="patient">
    <% patients.forEach(function(patient) { %>
    <option value="<%= patient.id %>">
      <%= patient.name %>
    </option>
    <% })%>
  </select>
  <br />
  <label for="date">Appointment Date:</label>
  <br>
<input type="date" name="date" min="<%= today %>">  
       <br>
  <label for="symptoms">Symptoms</label>
  <br>
  <textarea name="symptoms" id="symptoms" cols="30" rows="4">Symptoms:</textarea>
  <br />
  <label for="prescription">Prescription</label>
  <br>
  <textarea name="prescription" id="" cols="30" rows="4">Prescription:</textarea>
  <br />
  <button type="submit" class="btn">Submit</button>
</form>
