<h2>Appointments schedule</h2>
<br>
<% appointments.forEach(function(appointment) { %>
  <!-- <form action="" method="post"> -->
   
 <ul>
<li>Doctor: <%= appointment.doctor.name %></li>
<li>Patient: <%= appointment.patient.name %></li>
<li>Date: <%= appointment.date %></li>
<li>Symptoms: <%= appointment.symptoms %></li>
<li>Prescription: <%= appointment.prescription %></li>
<br>
<button type="submit"><a href="/appointment/edit/<%= appointment.id %>">Edit</a></button>
<button type="submit">Delete</button>
</ul>
<!-- </form> -->
<% }) %>  