<h2>Appointments</h2>

<% appointments.forEach(function(appointment) { %>
  <!-- <form action="" method="post"> -->
   
 <ul>
   <br>
<li>Doctor Name: <%= appointment.doctor.name %></li>
<li>Patient Name: <%= appointment.patient.name %></li>
<li>Appointment Date: <%= appointment.date %></li>
<li>Symptoms: <%= appointment.symptoms %></li>
<li>Prescription: <%= appointment.prescription %></li>

<button type="submit" class="btn"><a href="/appointment/edit/<%= appointment.id %>" class="btn">Update</a></button>
<button type="submit" class="btn"><a href="/appointment/delete/<%= appointment.id %>" class="btn">Delete</a></button>

</ul>
<!-- </form> -->
<% }) %>  